<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ro' }}" dir="ltr">
<head>
  {% include head.html %}
</head>
<body>

  {% include header.html %}

  <main id="main-content" class="page-wrap" tabindex="-1">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

  <script>
    // Activate async-loaded font without inline onload handler
    (function(){
      var el = document.getElementById('font-css');
      if(el){ el.media = 'all'; }
    })();
  </script>
</body>
</html>
